.logo {
  font-weight: bold;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.span {
  background-color: #ed5221;
  color: white;
  padding: 0 20px;
  border-radius: 10px;
  font-size: 35px;
  margin-left: -5px;
}
